
.tp {
  &.transporter-pavilion_section {
    padding-top: 1rem;
    @include mq(tablet-md, max) {
      padding-top: .75rem;
    }
    @include mq(phone-sm, max) {
      padding-top: .25rem;
    }
  }
  &-container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    background: $white;
    padding: 15px;
    @include mq(phone-md, max) {
      width: 100%;
      max-width: 100%;
    }
  }
  &-row {
    width: 100%;
  }
  &-content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    @include mq(tablet-md, max) {
      display: block;
    }
    @include mq(phone-md, max) {
      width: 100%;
    }
    &_title {
      text-align: center;
      border-bottom: 5px solid $primary-color;
      width: 100%;
      h1 {
        font-size: $h1;
        text-transform: uppercase;
        line-height: 2;
        @include mq(desktop-md, max) {
          font-size: $h2;
        }
        @include mq(desktop-sm, max) {
          font-size: $h3;
        }
        @include mq(tablet-md, max) {
          font-size: 1.5rem;
        }
        @include mq(phone-xl, max) {
          font-size: 1rem;
        }
        @include mq(phone-md, max) {
          font-size: .9rem;
        }
        @include mq(phone-sm, max) {
          font-size: .8rem;
        }
        span {
          font-size: $h1;
          color: $primary-color;
          @include mq(desktop-md, max) {
            font-size: $h2;
          }
          @include mq(desktop-sm, max) {
            font-size: $h3;
          }
          @include mq(tablet-md, max) {
            font-size: 1.5rem;
          }
          @include mq(phone-xl, max) {
            font-size: 1rem;
          }
          @include mq(phone-sm, max) {
            font-size: .8rem;
          }
        }
      }
    }
    &_subtitle {
      @extend .tp-content_title;
      border-bottom: none;
      width: 100%;
      p {
        font-size: $h3;
        text-transform: uppercase;
        line-height: 2;
        font-weight: $thin;
        letter-spacing: -1px;
        @include mq(desktop-md, max) {
          font-size: $h4;
        }
        @include mq(desktop-sm, max) {
          font-size: $h5;
        }
        @include mq(tablet-md, max) {
          font-size: 1.2rem;
        }
        @include mq(phone-xl, max) {
          font-size: .8rem;
        }
        @include mq(phone-sm, max) {
          font-size: .7rem;
        }
        span {
          font-size: $h3;
          color: $primary-color;
          @include mq(desktop-md, max) {
            font-size: $h4;
          }
          @include mq(desktop-sm, max) {
            font-size: $h5;
          }
          @include mq(tablet-md, max) {
            font-size: 1.2rem;
          }
          @include mq(phone-xl, max) {
            font-size: .8rem;
          }
          @include mq(phone-sm, max) {
            font-size: .7rem;
          }
        }
      }
    }
    &_formSlides {
      justify-content: space-between;
      align-items: center;
    }
    &_col--slides {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include mq(desktop-sm, max) {
        width: 60%;
      }
      @include mq(tablet-md, max) {
        width: 100%;
      }
      .tp-content_swiper {
        order: 1;
        @include mq(tablet-md, max) {
          order: 2;
          width: 100%;
        }
      }
      .tp-content_steps {
        order: 2;
        @include mq(tablet-md, max) {
          order: 1;          
          text-align: center;
          margin-top: 1rem;
          ol > li {
            text-align: left;
          }
        }
      }
    }
    &_col--form {
      width: 30%;
      @include mq(desktop-sm, max) {
        width: 40%;
      }
      @include mq(tablet-md, max) {
        width: 100%;
      }
    }
    &_swiper {
      border: 1px solid $primary-color;
      border-radius: 15px;
      box-shadow: 2px 3px 10px rgba(0,0,0,.25);
      width: 80%;
      padding: 1rem;
      text-align: center;
      margin: 2rem 0;
      @include mq(desktop-md, max) {
        width: 90%;
      }
      @include mq(tablet-lg, max) {
        width: 95%;
      }
      &--title {
        h4 {
          text-transform: uppercase;
          font-size: $h5;
          > span {
            font-size: $h5;
            color: $primary-color;
          }
          @include mq(phone-md, max) {
            font-size: 1rem;
            > span {
              font-size: 1rem;
            }
          }
        }
      }
    }
    &_steps {
      h5 {
        font-size: $h5;
        background-color: $primary-color;
        display: inline-block;
        padding: 10px 30px 10px 50px;
        color: $white;
        margin-bottom: 1rem;
        @include mq(desktop-md, max) {
          padding: 10px 10px 10px 10px;
        }
        @include mq(phone-sm, max) {
          font-size: 1rem;
        }
      }
      ol {
        max-width: 80%;
        margin-top: 1rem;
        @include mq(tablet-lg, max) {
          max-width: 95%;
        }
        li {
          margin-left: 5rem;
          @include mq(tablet-lg, max) {
            margin-left: 3rem;
          }
          &::marker {
            color: $primary-color;
            font-weight: bold;
          }
          > span {
            font-weight: bold;
          }
        }
        li, li > span {
          font-size: $step;
          letter-spacing: -1px;
          @include mq(desktop-md, max) {
            font-size: $step-sm;
          }
          @include mq(desktop-md, max) {
            font-size: 1.2rem;
          }
        }
      }
    }
    &_form {
      margin-top: .5rem;
      &--title {
        text-align: center;
        background: $bgcolor-2;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 10px 15px;
        h5 {
          font-size: $h6;
          text-transform: uppercase;
          color: $white;
          font-weight: 300;
        }
      }
      form {
        border: 1px solid $gray;
        margin-top: 1rem;
        padding: 10px;
        label > span {
          color: $primary-color;
        }
        @include mq(phone-sm, max) {
          padding: 5px;
        }
      }
      &--group:not(.tp-content_form--group:last-child) {
        position: relative;
        margin: .75rem 1rem;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        @include mq(phone-sm, max) {
          padding: 0 .5rem;
        }
        > input, select {
          background-color: $white;
        }
        &.check-group {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          > label:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          > input {
            margin-right: .5rem;
          }
          &::before {
            display: none;
          }
        }
        &::before {
          position: absolute;
          content: "";
          bottom: 5px;
          left: 0;
          top: 5px;
          margin: auto;
          border-left: 2px solid $primary-color;
        }
      }
      .form-group {
        label {
          font-style: $bold;
          font-weight: bold;
          text-transform: uppercase;
        }
        input, select {
          padding: 5px 10px;
          display: block;
          width: 100%;
          border: 1px solid $gray;
          border-radius: 5px;
          margin: 2.5px 0;
          &:focus {
            transition: $transition-md;
            box-shadow: 1px 1px 10px rgba(0,0,0,.15);
            outline: transparent;
          }
        }
      }
    }
    &_iframe {
      height: auto;
      iframe {
        min-height: 90vh;
        @include mq(desktop-md, max) {
          min-height: 80vh;
        }
        @include mq(desktop-md, max) {
          min-height: 70vh;
        }
        @include mq(tablet-lg, max) {
          min-height: 55vh;
        }
        @include mq(tablet-md, max) {
          min-height: 35vh;
        }
        @include mq(phone-sm, max) {
          min-height: 15vh;
        }
      }
    }
    &_welcome {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &_col--left,
    &_col--right {
      width: 50%;
      padding: .5rem;
      @include mq(phone-xl, max) {
        width: 100%;
      }
      > * {
        text-align: justify;
      }
      h5, h6, p {
        margin-bottom: 0.5rem;
      }
    }
    &_col--left {
      &-mobile {
        @include mq(phone-xl, max) {
          display: none;
        }
      }
      .btn-group {
        display: none;
        @include mq(phone-xl, max) {
          display: block;
        }
      }
    }
    &_col--right {
      @include mq(phone-xl, max) {
        display: none;
      }
    }
  }
}