.btn {

  display: inline-block;
  border: 2px solid transparent;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  font-style: $bold;
  font-weight: bold;
  border-radius: 7.5px;

  &:hover {
    cursor: pointer;
    outline: transparent;
    box-shadow: transparent;
  }

  &-group {
    display: block;
    width: 100%;
    &_center,
    &_center > * {
      text-align: center !important;
    }
  }

  &-primary {
    background-color: $primary-color;
    color: $white;
    &.btn-outline {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &-icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    > *:not(*:last-child) {
      margin-right: 10px;
    }
    > *:last-child {
      margin-top: 5px;
    }
  }

  &-outline {
    border: 2px solid;
    background-color: transparent;
  }

  &-viewmore {
    span ~ span {
      display: none;
    }
    &.active {
      span {
        display: none;
      }
      span ~ span {
        display: block;
      }
      i, svg {
        transform: rotate(180deg);
      }
    }
  }

}