

.modal {
  display: none;
  &.active {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &-row {
    width: 100%;
    max-width: 90%;
    margin: auto;
  }
  &-content {
    position: relative;
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
    &_header {
      background-color: $bgcolor-3;
      min-height: 75px;
      &--icon {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
        background-color: $bgcolor-3;
        &::before {
          position: absolute;
          content: "";
          left: 50%;
          top: 15px;
          transform: translate(-50%,  -50%);
          width: 100px;
          height: 100px;
          background-color: $bgcolor-3;
          z-index: -1;
          border-radius: 50%;
        }
        i, svg {
          font-size: 2rem;
        }
      }
      &--close {
        position: absolute;
        top: 5px;
        right: 5px;
        button {
          border: none;
          background-color: transparent;
          padding: 10px;
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          i, svg {
            color: rgba($black, .15);
          }
          &:focus {
            outline: transparent;
          }
        }
      }
    }
    &_body {
      padding: 2rem 3.5rem;
      min-height: 100px;
      @include mq(phone-sm, max) {
        padding: 2rem 1.5rem;
      }
      p {
        font-size: $step;
        line-height: 1;
        @include mq(phone-sm, max) {
          font-size: $step-sm;
        }
      }
    }
  }
}