.swiper {
  &-container {
    margin: 1rem 0;
  }
  &-slide {
    a {
      > img {
        max-width: 100%;
      }
      &:hover {
        img {
          transition: ease-in-out .3s all;
          filter: drop-shadow(10px 10px 5px rgba(0,0,0,.250));
        }
      }
    }
  }
  &-slide-active:nth-of-type(1n+1):not(.swiper-slide:last-child) {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      bottom: 20px;
      right: -15px;
      top: 20px;
      border-left: 3px solid $primary-color;
    }
  }
  &-button-next,
  &-button-prev {
    color: $primary-color;
  }
}