* {
  margin: 0;
  padding: 0;
  font-size: 1rem; // 16px
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

header, footer {
  text-align: center;
  padding: 20px 0;
}

.wrap-wrap {
  background-color: $bgcolor-1;
  width: 100%;
  height: 100%;
}

.transporter-pavilion_section:not(.transporter-pavilion_section:first-child) {
  margin-top: 2rem;
}

.transporter-pavilion_section:last-child {
  padding-bottom: 1rem;
}

.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.tp-dblock-mobile {
  display: block !important;
}