@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @if $type == min {
          $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
          @content;
      }
  } @else {
      @warn 'No hay un tamanio #{$width} definido';
  }
}

// Meadia Queries for landscape
@mixin mq-l($width, $type: max) {
  $width: map_get($breakpoints, $width);
  @media (#{$type}-width: $width) and (orientation: landscape) {
      @content;
  }
}