$primary-color: #a98537;
$bgcolor-1:     #f2f2f2;
$bgcolor-2:     #383838;
$bgcolor-3:     #f5ba02;

$white: #fff;
$black: #000;
$gray:  #ccc;

$h1:    49.04px;
$h2:    41.04px;
$h3:    36px;
$h4:    30px;
$h5:    22.946px;
$h6:    16.45px;
$step:  27.533px;
$step-sm:  24.533px;

$thin:      "louisheavy", sans-serif, serif;
$regular:   "louisregular", sans-serif, serif;
$bold:      "louisbold", sans-serif, serif;

$transition-sm: ease .3s all;
$transition-md: ease .5s all;
$transition-lg: ease .75s all;

$breakpoints: (
  
  // Phone
  "phone-xs":             320px,
  "phone-sm":             375px,
  "phone-md":             480px,
  "phone-lg":             560px,
  "phone-xl":             640px,

  // Tablet's
  "tablet-sm":            768px,
  "tablet-md":            813px,
  "tablet-lg":            1024px,

  // Desktop
  "desktop-sm":           1280px,
  "desktop-md":           1440px,
  "desktop-lg":           1680px,
  "desktop-xl":           1900px,

);